#account-search-navbar {
    border-bottom: 5px solid #006900;
}

#account-search-navbar:hover {
    border-bottom: 5px solid #006900 !important;
}

form {
    height: 300px;
}

form tr:first-child {
    height: 80px;
    font-weight: 400;
    font-size: 1.4em;
}
