{% extends "stats/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/login.css' %}">

    <form method="post" action="{% url 'stats:login' %}">
        {% csrf_token %}
        <table>
            {% if form.errors %}
                <tr>
                    <td colspan="2">
                        <ul class="errorlist">
                            <li>Błędny login lub hasło!</li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ form.username.label_tag }}</th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th>{{ form.password.label_tag }}</th>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Zaloguj się!"></td>
            </tr>
        </table>
    </form>
    <div id="sign-up">
        <a href="{% url 'stats:register' %}">Nie masz konta? Zarejestruj się!</a>
    </div>
{% endblock %}